<div class="parent">
    <div class="contenedor">
        <div class="cube" id={{giro}}>
            <div class="cara" id="uno">
                <app-cara [posicion]=0 [cubo]="cubo"></app-cara>
            </div>
            <div class="cara" id="dos">
                <app-cara [posicion]=1 [cubo]="cubo"></app-cara>
            </div>
            <div class="cara" id="tres">
                <app-cara [posicion]=2 [cubo]="cubo"></app-cara>
            </div>
            <div class="cara" id="cuatro">
                <app-cara [posicion]=3 [cubo]="cubo"></app-cara>
            </div>
            <div class="cara" id="cinco">
                <app-cara [posicion]=4 [cubo]="cubo"></app-cara>
            </div>
            <div class="cara" id="seis">
                <app-cara [posicion]=5 [cubo]="cubo"></app-cara>
            </div>
        </div>
    </div>
    <div class="botones">
        <button (click)="giraarriba()">▲</button>
        <div>
            <button (click)="giraizquierda()">◄</button>
            <button (click)="reset()">Resetear</button>
            <button (click)="movimientoatras()">Regresar</button>
            <button (click)="giraderecha()">►</button>
        </div>
        <button (click)="giraabajo()">▼</button>
    </div>
</div>
<div class="filcol">
    <h3><span>Fila: </span></h3>
    <select (change)="FilaSeleccionada($event)">
            <option value="Arriba">Arriba</option>
            <option value="Abajo">Abajo</option>
            <option value="Izquierda">Izquierda</option>
            <option value="Derecha">Derecha</option>
        </select>
    <h3><span>Celdas: </span></h3>
    <select (change)="CaraSeleccionada($event)">
            <option value="yellow">Amarillo</option>
            <option value="blue">Azul</option>
            <option value="white">Blanco</option>
            <option value="green">Verde</option>
            <option value="red">Roja</option>
            <option value="orange">Naranja</option>
        </select>
    <h3><span>Ver Cara: </span></h3>
    <select (change)="vercara($event)">
        <option value="Frente">Frente</option>
        <option value="Derecha">Derecha</option>
        <option value="Atras">Atras</option>
        <option value="Izquierda">Izquierda</option>
        <option value="Arriba">Arriba</option>
        <option value="Abajo">Abajo</option>
    </select>
</div>
<div class="selgiro">
    <button (click)="gurdarcubo()">Guardar</button>
    <button (click)="restaurar()">Restaurar</button>
</div>