.parent {
    position: relative;
}

.botones,
.filcol,
.selgiro {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filcol {
    flex-direction: row;
    margin: 1ch auto;
}

.selgiro {
    flex-direction: row;
    align-self: center;
}

.contenedor {
    width: 250px;
    height: 250px;
    position: relative;
    margin: 5em auto;
    perspective: 700px;
}

.cara,
.cube {
    width: 100%;
    height: 100%;
    position: absolute;
}

.cube {
    transform-style: preserve-3d;
    animation: girarcubo 10s;
    transform: rotatex(-20deg)rotatey(40deg);
}

#uno {
    transform: translatez(125px);
}

#dos {
    transform: translatex(125px)rotateY(90deg);
}

#tres {
    transform: translatez(-125px)rotatey(180deg);
}

#cuatro {
    transform: translatex(-125px)rotatey(-90deg);
}

#cinco {
    transform: translatey(-125px)rotateX(90deg);
}

#seis {
    transform: translatey(125px)rotatex(90deg);
}


/*giros*/

#girarojo {
    transform-style: preserve-3d;
    animation: girarojo 1s forwards;
}

@keyframes girarojo {
    to {
        transform: rotatex(-90deg);
    }
}

#giranaranja {
    transform-style: preserve-3d;
    animation: girana 1s forwards;
}

@keyframes girana {
    to {
        transform: rotatex(90deg);
    }
}

#giraverde {
    transform-style: preserve-3d;
    animation: giraver 1s forwards;
}

@keyframes giraver {
    to {
        transform: rotatey(90deg);
    }
}

#giraazul {
    transform-style: preserve-3d;
    animation: girazu 1s forwards;
}

@keyframes girazu {
    to {
        transform: rotatey(-90deg);
    }
}

#girablanco {
    transform-style: preserve-3d;
    animation: girablan 1s forwards;
}

@keyframes girablan {
    to {
        transform: rotatey(180deg);
    }
}