<div class="cara" *ngFor="let item of cubo.caras[posicion].celdas">
    <app-celda class="cubo" [ngClass]="cubo.caras[posicion].celdas[0][0].color"></app-celda>
    <app-celda class="cubo" [ngClass]="cubo.caras[posicion].celdas[0][1].color"></app-celda>
    <app-celda class="cubo" [ngClass]="cubo.caras[posicion].celdas[0][2].color"></app-celda>
    <app-celda class="cubo" [ngClass]="cubo.caras[posicion].celdas[1][0].color"></app-celda>
    <app-celda class="cubo" [ngClass]="cubo.caras[posicion].celdas[1][1].color"></app-celda>
    <app-celda class="cubo" [ngClass]="cubo.caras[posicion].celdas[1][2].color"></app-celda>
    <app-celda class="cubo" [ngClass]="cubo.caras[posicion].celdas[2][0].color"></app-celda>
    <app-celda class="cubo" [ngClass]="cubo.caras[posicion].celdas[2][1].color"></app-celda>
    <app-celda class="cubo" [ngClass]="cubo.caras[posicion].celdas[2][2].color"></app-celda>
</div>