.cubo {
    float: left;
    width: 31.60%;
    height: 31.60%;
    border: 2px solid black;
    border-radius: 10px;
}

.cara {
    width: 100%;
    height: 100%;
    position: absolute;
}

.red {
    background: rgba(255, 0, 0, 0.5);
}

.green {
    background: rgba(0, 128, 0, 0.5);
}

.white {
    background: rgba(255, 255, 255, 0.5);
}

.orange {
    background: rgba(255, 174, 0, 0.5);
}

.blue {
    background: rgba(17, 0, 255, 0.5);
}

.yellow {
    background: rgba(255, 238, 0, 0.5);
}